@{
    ViewData["Title"] = "Home Page";
}
<style>
body{
    background: url(/images/background.png) no-repeat center center fixed;
    background-size: cover;
}
#navigation_section {
    background-color: transparent;
}

</style>
<div id="home_section">
    <h1 class="landing-page-header">BEINGS LIVING WELL +</h1>
    <div id="landing-page-overlay" class="col-sm-6">
        <h2>Our love for berries</h2>
        <p>The blackberry is an edible fruit produced by many species in the genus Rubus in the family Rosaceae. Blackberries are a very good source of vitamin C and manganese, and a good source of vitamin K. They also provide high amounts antioxidant compounds, anthocyanins and other flavonoids</p>
    </div>
</div>